@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations

<div class="grid-item @(IsFlipped ? "flipped" : "")" style="background-color: @(Color)">
    @if (IsFlipped)
        {
            <span>?</span>
        }
        else
        {
            <span>Color</span>
        }
</div>

@code {
    [Parameter]
    [Required]
    public string Color { get; set; } = "grey";

    [Parameter]
    public bool IsFlipped { get; set; } = false;
}