@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


<h1>Welcome to Memory Game!</h1>

<div class="game-description">
    <p>
        Memory Game is an adaptation of the classic memory card game. The game is set on a board with an even amount of cards placed in a grid face-down. Each turn consists of flipping two cards. If they match, they remain face up. If they don't, they will flip back over on the next selection. Once all of the matches have been found, you WIN! You may restart the game to try and better your score or challenge a friend!
    </p>
</div>

<a class="btn btn-primary" href="/game">Let's Play</a>

@code {}